@import "root";
@import "buttons-library";
@import "font-size";

* {
  font-family: "Inter", sans-serif;
}

.navbar-text {
  color: var(--bs-dark);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.row-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.row-evenly {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-250 {
  margin-top: 250px;
}

.mt-300 {
  margin-top: 300px;
}
.main-navbar {
  .navbar {
    font-size: 14px;

    .dropdown-fullwidth {
      position: static;
    }
    .dropdown-menu {
      border: 1px solid var(--bs-border-color);
      box-shadow: 1px 1px 10px #ddd9d9;
      font-size: 14px;
    }
  }
}

.text-primary {
  color: var(--bs-primary) !important;
}

@media only screen and (max-width: 768px) {
  // .hero-slider {
  //   height: 70vh;
  // }
}
