@import "root";
@import "buttons-library";
@import "font-size";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.Toastify__toast {
  font-size: 14px;
  padding: 0;
}

.navbar-text {
  color: var(--bs-dark);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.row-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.row-evenly {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.edit-round {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #e7e6e4;
  border-radius: 50%;
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-250 {
  margin-top: 250px;
}

.mt-300 {
  margin-top: 300px;
}
.main-navbar {
  .navbar {
    font-size: 14px;

    .dropdown-fullwidth {
      position: static;
    }
    .dropdown-menu {
      border: 1px solid var(--bs-border-color);
      box-shadow: 1px 1px 10px #ddd9d9;
      font-size: 14px;
    }
  }
}

.text-primary {
  color: var(--bs-primary) !important;
}

@media only screen and (max-width: 768px) {
  // .hero-slider {
  //   height: 70vh;
  // }
}
